/Makedefs
/autom4te.cache
/config.h
/config.log
/config.status
/configure~
/data
/parts
/prime
/server/ippserver
/stage
/tools/ipp3dprinter
/tools/ippdoclint
/tools/ippproxy
/tools/ipptransform
/tools/ipptransform3d
/vcnet/.vs
/vcnet/packages
/vcnet/x64
/xcode/DerivedData
xcuserdata
*.dSYM
*.log
*.o
*.ras
*.snap
