Makedefs
autom4te.cache
/config.h
/config.log
/config.status
/cups/libcups.a
/cups/org.pwg.ippsample.*
/cups/test.raster
/cups/testarray
/cups/testclient
/cups/testdest
/cups/testfile
/cups/testhttp
/cups/testi18n
/cups/testipp
/cups/testoptions
/cups/testraster
/data
/man/mantohtml
/examples/pwg-raster-samples*
/parts
/prime
/server/ippserver
/stage
/tools/ipp3dprinter
/tools/ippdoclint
/tools/ippeveprinter
/tools/ippfind
/tools/ippproxy
/tools/ipptool
/tools/ipptransform
/tools/ipptransform3d
/vcnet/.vs
/vcnet/packages
/vcnet/x64
/xcode/DerivedData
xcuserdata
*.dSYM
*.log
*.o
*.ras
*.snap
*.xcworkspace
