Makedefs
autom4te.cache
config.h
config.log
config.status
cups/libcups.a
cups/org.pwg.ippsample.*
cups/test.raster
cups/testarray
cups/testclient
cups/testdest
cups/testfile
cups/testhttp
cups/testi18n
cups/testipp
cups/testoptions
cups/testraster
doc/mantohtml
parts
prime
server/ippserver
stage
tools/ippfind
tools/ippproxy
tools/ipptool
tools/ipptransform
tools/ipptransform3d
xcuserdata
*.dSYM
*.log
*.o
*.ras
*.snap
*.xcworkspace
